/* @import './base.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;


#app {
  --bg-color: #fff;
  --bg-transparent: rgba(255, 255, 255, 0);
  --border-color: #BFBFBF;
  --ms-line-interval: calc(2.3rem + 0.5px);
  --md-line-interval: calc(2.3rem + 0.275rem);
  --ml-line-interval: calc(2.3rem + 0.28rem);
  --px-to-rem: 0.063rem;
}


/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
