/* @import './base.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;


#app {
  --bg-color: #fff;
  --bg-transparent: rgba(255, 255, 255, 0);
  --border-color: #BFBFBF;
  --ms-line-interval: calc(2.3rem + 0.5px);
  --md-line-interval: calc(2.3rem + 0.275rem);
  --ml-line-interval: calc(2.3rem + 0.28rem);
  --px-to-rem: 0.063rem;
}
@layer components {
  .card_word {
    @apply cursor-pointer font-bold h-[64px] text-3xl hover:text-4xl leading-[64px] hover:leading-[64px] text-ellipsis overflow-hidden whitespace-nowrap;
  }
  .card_content {
    @apply h-[32px] font-medium ml-1 text-ellipsis overflow-hidden whitespace-nowrap;
  }

  .modal_word {
    @apply text-4xl my-5 pb-4 font-bold;
  }
  .modal_means {
    @apply font-semibold text-lg;
  }
  .modal_btn {
    @apply py-1 px-2.5 rounded-md text-white font-semibold;
  }
  .modal_footer {
    @apply absolute bottom-0 right-0 p-6;
  }
  .modal_timetext {
    @apply text-sm my-4 text-neutral-400;
  }
}

